[submodule "antigen"]
	path = antigen
        url = https://github.com/zsh-users/antigen.git
[submodule "Vundle"]
        path = vim/bundle/Vundle.vim
        url = https://github.com/VundleVim/Vundle.vim.git

#[submodule "tmux/tmux-copycat"]
#	path = tmux/tmux-copycat
#	url = https://github.com/tmux-plugins/tmux-copycat
#[submodule "tmux/tmux-yank"]
#	path = tmux/tmux-yank
#	url = https://github.com/tmux-plugins/tmux-yank
