[submodule "antigen"]
	path = antigen
        url = https://github.com/zsh-users/antigen.git
[submodule "Vundle"]
        path = vim/bundle/Vundle.vim
        url = https://github.com/VundleVim/Vundle.vim.git
